/*
 * variable declarations
 */

:root {
    --accent: #177e89;
    --accent-shadow: #084c61;
    --error: #db3a34;
    --warning: #ffc857;
    --ink: #323031;
    --accent-ink: white;

    --small: 12pt;
    --medium: 16pt;
    --big: 18pt;
}

/*
 * global settings
 */

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: var(--medium);
    margin: 0;
    padding: 0;
}

/*
 * background overrides for warnings and errors
 */

.warning {
    background-color: var(--warning);
    color: var(--ink);
}

.error{
    background-color: var(--error);
    color: var(--accent-ink);
}

/*
 * navigation bar
 */

nav {
    background-color: var(--accent);
    color: var(--accent-ink);
    font-size: 0;  /* https://stackoverflow.com/questions/5078239/how-do-i-remove-the-space-between-inline-block-elements */
    margin-bottom: 1em;
}

.navbutton {
    color: var(--accent-ink);
    display: inline-block;
    font-size: var(--medium);
    padding-right: 1em;
    padding-top: 1em;
}

.navbuttonselected {
    background-color: var(--accent-shadow);
    color: var(--accent-ink);
    display: inline-block;
    font-size: var(--medium);
    padding-right: 1em;
    padding-top: 1em;
}

.navbutton:hover {
    background-color: var(--accent-shadow);
}

.logoutform {
    float: right;
}

.logoutbutton {
    background-color: var(--accent);
    border: none;
    color: var(--accent-ink);
    cursor: pointer;
    font-size: var(--medium);
    padding-right: 1em;
    padding-top: 1em;
}

.logoutbutton:hover {
    background-color: var(--accent-shadow);
}

/*
 * general content formatting
 */

main {
    color: var(--ink);
    margin: auto;
    max-width: 28em;
    padding-top: 1em;
    width: 90%;
}

main > h1 {
    font-size: var(--big);
}

/*
 * styling of flashes
 */

.flash {
    text-align: center;
}

.flash img {
    float: left;
    height: var(--medium);
    padding-top: 4pt;
    width: var(--medium);
}

/*
 * styling of login page
 */

.loginform input {
    background-color: var(--accent);
    border: none;
    box-sizing: border-box;
    color: var(--accent-ink);
    cursor: pointer;
    font-size: var(--medium);
    margin-bottom: 0.5em;
    padding: 1em;
    width: 100%;
}

.loginform input:hover {
    background-color: var(--accent-shadow);
}

.loginform input:active {
    background-color: var(--accent-shadow);
}

/*
 * styling of the individual content cards and their fields
 */

.card {
    background-color: var(--accent);
    color: var(--accent-ink);
    margin-bottom: 0.5em;
}

.card a {
    color: var(--accent-ink);
}

.cardheader {
    font-size: var(--small);
    padding: 4pt 4pt 0 4pt;
}

.cardmain {
    padding: 4pt 14pt 4pt 14pt;
}

.name {
    font-style: italic;
}

.content {
}

.cardfooter {
    font-size: var(--small);
    padding: 0 4pt 10pt 14pt;
    text-align: right;
}

.svgbutton {
    cursor: pointer;
    height: var(--medium);
    margin-right: 2.5em;
    padding: 4pt;
}

.svgbutton:hover {
    background-color: var(--accent-shadow);
}

/*
 * submit fields
 */

.postinput {
    background: transparent;
    border: none;
    color: var(--accent-ink);
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: var(--medium);
    font-style: italic;
    resize: none;
    width: 100%;
}
