<div class="card">
	<div class="cardheader">
		<span style="font-weight: bold">{{.XFrom}}</span>
		{{.Published}}
	</div>

	<div class="cardmain">
		<p class="name">
			{{.Name}}
		</p>

		<p class="content">
			{{.Content}}
		</p>
	</div>

	<div class="cardfooter">
		<form class="svgform" action="/reply" method="post">
			<input type="hidden" name="iri_base64" value="{{.XIdBase64}}" />
			<input class="svgbutton" type="image" src="/static/reply.svg" title="Reply" />
		</form>

		<form class="svgform" action="/repeat" method="post">
			<input type="hidden" name="iri_base64" value="{{.XIdBase64}}" />
			<input class="svgbutton" type="image" src="/static/repeat.svg" title="Repeat" />
		</form>

		<form class="svgform" action="/like" method="post">
			<input type="hidden" name="iri_base64" value="{{.XIdBase64}}" />
			<input class="svgbutton" type="image" src="/static/like.svg" title="Like" />
		</form>
	</div>

</div>
