<div class="card">
	<div class="cardheader">
		<span style="font-weight: bold">{{.XFrom}}</span>
		{{.Published}}
	</div>

	<div class="cardmain">
		<p class="name">
			{{.Name}}
		</p>

		<p class="content">
			{{.Content}}
		</p>
	</div>

	<div class="cardfooter">
		<img class="svgbutton" src="/static/reply.svg">
		<img class="svgbutton" src="/static/repeat.svg">
		<img class="svgbutton" src="/static/like.svg">
	</div>

</div>
