{{template "base" .}}

{{define "title"}}
	Error {{.Status}}: {{.StatusText}}
{{end}}

{{define "body"}}
	<h1>Error {{.Status}}: {{.StatusText}}</h1>
	<hr>
	<p>{{.Description}}</p>
	<p>{{.Cause}}</p>
{{end}}
