<-- Defines the base class for all HTML pages-->

{{define "base"}}
<!doctype html>
<html>
	<head>
		<title>{{template "title" .}}</title>
		<link rel="icon" href="/static/inbox.svg">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.8">
		<link rel=stylesheet href="/static/fedweb.css">
		<script src="/static/resize_submit.js"></script>
	</head>

	<body>
		<nav>
		    <!-- These divs are so close to each other because if we put each in a seperate line,
		         we get ugly gaps on the tabs. -->
		    <a href="/stream">
			    <div class={{if eq .Context.Selected "Stream"}}"navbuttonselected"{{else}}"navbutton"{{end}}>
				Stream
			    </div>
		    </a><a href="/liked">
			    <div class={{if eq .Context.Selected "Liked"}}"navbuttonselected"{{else}}"navbutton"{{end}}>
				Liked
			    </div>
		    </a><a href="/following">
			    <div class={{if eq .Context.Selected "Following"}}"navbuttonselected"{{else}}"navbutton"{{end}}>
				Following
			    </div>
		    </a><a href="/followers">
			    <div class={{if eq .Context.Selected "Followers"}}"navbuttonselected"{{else}}"navbutton"{{end}}>
				Followers
			    </div>
		    </a>
		</nav>

		<main>
			{{template "flash" .}}
			{{template "body" .}}
		</main>

		<footer>
			<code>
				username={{.Context.Username}} iri={{.Context.ActorIRI}}
			</code>
		</footer>
	</body>
</html>
{{end}}
