{{template "base" .}}

{{define "title"}}
	{{.Selected}}
{{end}}

{{define "body"}}
	{{range .Items}}
		{{template "card" .}}
	{{else}}
		<p style="text-align: center; font-style: italic">
			here be dragons
		</p>
	{{end}}
{{end}}
