{{template "base" .}}

{{define "title"}}
	{{.Selected}}
{{end}}

{{define "body"}}
	<div class="card">
		<form action="/submit" method="post">
			<div class="cardmain">
					<textarea oninput="PostInput()" id="postinput" class="postinput" name="postinput" autocomplete="off" placeholder="{{.SubmitPrompt}}"></textarea>
			</div>

			<div class="cardfooter">
				<input class="svgbutton" type="image" src="/static/send.svg" alt="Send" />
			</div>
		</form>

	</div>

	{{range .Items}}
		{{.Fragment}}
	{{end}}
{{end}}
