{{define "flash"}}
	{{range .Context.Flashs}}
		<div class="card">
			<div class="flash">
				<div class="cardmain">
					{{.}}
				</div>
			</div>
		</div>
	{{end}}

	{{range .Context.Warnings}}
		<div class="card">
			<div class="warning">
				<div class="flash">
					<div class="cardmain">
						<img src="/static/warning.svg">
						{{.}}
						<img src="/static/warning.svg">
					</div>
				</div>
			</div>
		</div>
	{{end}}

	{{range .Context.Errors}}
		<div class="card">
			<div class="error">
				<div class="flash">
					<div class="cardmain">
						<img src="/static/error.svg">
						{{.}}
						<img src="/static/error.svg">
					</div>
				</div>
			</div>
		</div>
	{{end}}
{{end}}
