{{define "not_implemented"}}

	<div class="card">
		<div class="warning">
			<div class="cardmeta">
				Anonymous
			</div>

			<div class="cardmain">
				<p>Type <code>{{.Type}}</code> not yet implemented.</p>
			</div>
		</div>
	</div>
{{end}}
