{{define "note"}}
	<div class="cardmeta">
		<span style="font-weight: bold">{{.XFrom}}</span>
	</div>

	<div class="cardmain">
		<p class="name">
			{{.Name}}
		</p>

		<p class="content">
			{{.Content}}
		</p>
	</div>
{{end}}
