{{define "ordered_collection"}}
	<div class="warning">
		<div class="cardmeta">
			Anonymous
		</div>

		<div class="cardmain">
			<p>Type <code>OrderedCollection</code> not yet implemented.</p>
		</div>
	</div>
{{end}}
