<div class="card">
	<div class="warning">
		<div class="cardheader">
			<span style="font-weight: bold">{{.XFrom}}</span>
		</div>

		<div class="cardmain">
			<p>Type <code>{{.Type}}</code> not yet implemented.</p>
		</div>
	</div>
</div>
